  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <img src="{{site.baseurl}}/img/logo-renvee.png" />
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about-us">Tentang</a></li>
          <li><a href="#features">Solusi</a></li>
          <li><a href="#screenshots">Fitur</a></li>
          <li><a href="#pricing">Harga</a></li>
          <li><a href="https://renvee.rocktokom.co/register/">Daftar</a></li>
          <li><a href="https://renvee.rocktokom.co/">Login</a></li>
          <!--<li class="menu-has-children"><a href="">Daftar</a>
            <ul>
              <li><a href="#">Sebagai Agent</a></li>
              <li><a href="#">Sebagai Vendor</a></li>
              <li><a href="#">Sebagai Agent & Vendor</a></li>
            </ul>
          </li>-->
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
